/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');



/*Asterisk wildcard selector to override default styles added by the browser*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*GENERAL STYLES*/
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /*Generic project styles*/
    color: #40513B;
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3 {
    font-family: 'Open Sans', sans-serif;
    text-transform: initial;
    letter-spacing: 1.5px;
    color: #3A4D39;
}

/*HEADER*/
header {
    background-color: #FFFBAC;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 11px 3px #40513B;
    display: flex;  
    justify-content: space-between; 
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: inherit;
}

#menu {
    font-size: 120%;
    letter-spacing: 1.5px;
    list-style-type: none;
}

#menu  > li {
    margin-bottom: 0.5em;
}


.active {
    border-bottom: 1px dotted #3A4D39;    
}

/*Navbar styles, dropdown toggle*/

nav {
    position: absolute;
    background-color: #FFFBAC;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #3A4D39;
    display: none;
    top: 100%;
}


/* Nav toggle*/ 
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}



/*MAIN CONTENT*/
main {
    background-color: #fffef7;
    /*Make main element take up any surplus space and push footer down*/
    flex: 1 0 auto;
    margin-top: 50px;
}

/* Hero section*/
#hero {
    height: 880px;
    width: 100%;
    background: url("../images/caju-gomes-QDq3YliZg48-unsplash.jpg") no-repeat center center/cover;
    position: relative;
    

}

#hero-text {
    /*Final rgba value sets the opacity so it is semi-transparent*/
    background-color: rgba(115, 144, 114, .7);
    font-size: 130%;
    position: absolute;
    bottom: 50px;
    width: fit-content;
    min-height: 100px;
    padding: 15px;
    border: 1.5px solid #3A4D39;
    border-radius: 15px;
    text-align: center;
    left: 30px;
    right: 30px;
    
}

#hero-text > h2, #hero-text > h3 {
    color: #fffcc9;
}



/*FOOTER*/
footer {
    background-color: #40513B;
}

#social-networks{
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-networks i{
    font-size: 200%;
    padding: 10%;
    color: #fffcc9;
}

/*Media query: tablets and larger (768px and up)*/
@media screen and (min-width: 768px) {
    /*Header*/
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }

    #menu {
        display: flex;
    }

    #menu > li {
        padding-left: 1rem;
    }

    .nav-toggle-label {
        display: none;
    }

    #logo {
        font-size: 250%;
        line-height: 90px;
        margin: 0 1.5rem;
    }

    /* Main content */
    main {
        /* Push main content down to accommodate larger header */
        margin-top: 100px;
    }
}

/*Media query: Large devices (laptops and desktops, 992px and up)*/
@media screen and (min-width: 992px){
    #menu a:hover{
        border-bottom: 1px dotted #3A4D39;
    }
}
