/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');



/*Asterisk wildcard selector to override default styles added by the browser*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*GENERAL STYLES*/
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /*Generic project styles*/
    color: #40513B;
    font-family: 'Open Sans', sans-serif;
}

/*HEADER*/
header {
    background-color: #CCD5AE;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 8px 3px #40513B;
    display: flex;  
    justify-content: space-between; 
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: inherit;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    text-transform: initial;
    letter-spacing: 1.5px;
    color: #3A4D39;
}

#menu {
    font-size: 120%;
    letter-spacing: 1.5px;
    list-style-type: none;
}

#menu  > li {
    margin-bottom: 0.5em;
}

.active {
    border-bottom: 1px dotted #3A4D39;    
}

/*Navbar styles, dropdown toggle*/

nav {
    position: absolute;
    background-color: #CCD5AE;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #3A4D39;
    display: none;
    top: 100%;
}


/* Nav toggle*/ 
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}



/*MAIN CONTENT*/
main {
    background-color: #FEFAE0;
    /*Make main element take up any surplus space and push footer down*/
    flex: 1 0 auto;
    margin-top: 50px;


}

/*FOOTER*/
footer {
    background-color: #FAEDCD;

}

/*Media query: tablets and larger (768px and up)*/
@media screen and (min-width: 768px) {
    /*Header*/
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }

    #menu {
        display: flex;
    }

    #menu > li {
        padding-left: 1rem;
    }

    .nav-toggle-label {
        display: none;
    }

    #logo {
        font-size: 250%;
        line-height: 90px;
        margin: 0 1.5rem;
    }

    /* Main content */
    main {
        /* Push main content down to accommodate larger header */
        margin-top: 100px;
    }
}